<div>
  <%= link_to 'Librarians', librarians_path %>
  <%= link_to 'Users', users_path %>
  <%= link_to 'Books', books_path %>
  <%= link_to 'Magazines', magazines_path %>
  <%= link_to 'Orders', orders_path %>
  <%= link_to 'Authors', authors_path %>
</div>
<div>
  <div>
    Знайти прізвища та імена бібліотекарів, що оформили замовлення вартістю n
  </div>
  <div>
    <span>Price:</span>
    <input type="number" id="input1">
  </div>
  <button id="btn1">Find</button>
  <div id="div1"></div>

  <div>
    Знайти прізвища авторів, у є книжка заданого жанру
  </div>
  <div>
    <span>Genre:</span>
    <input type="text" id="input2">
  </div>
  <button id="btn2">Find</button>
  <div id="div2"></div>

  <div>
    Знайти прізвища авторів, які написали книжки не заданого жанру
  </div>
  <div>
    <span>Genre:</span>
    <input type="text" id="input3">
  </div>
  <button id="btn3">Find</button>
  <div id="div3"></div>

  <div>
    Знайти прізвища авторів, які не написали книжки заданого жанру
  </div>
  <div>
    <span>Genre:</span>
    <input type="text" id="input4">
  </div>
  <button id="btn4">Find</button>
  <div id="div4"></div>

  <div>
    Знайти прізвища користувачів, які не робили замовлення на n гривень
  </div>
  <div>
    <span>Price:</span>
    <input type="number" id="input5">
  </div>
  <button id="btn5">Find</button>
  <div id="div5"></div>

  <div>
    Знайти прізвища бібліотекарів, які видали більше або рівно 2 замовлення людям з даним іменем
  </div>
  <div>
    <span>Name:</span>
    <input type="text" id="input6">
  </div>
  <button id="btn6">Find</button>
  <div id="div6"></div>

  <div>
    Знайти кількість бібліотекарів, які видали більше або рівно 2 замовлення людям з даним іменем
  </div>
  <div>
    <span>Name:</span>
    <input type="text" id="input7">
  </div>
  <button id="btn7">Find</button>
  <div id="div7"></div>
</div>
