<div>
  <%= link_to 'Librarians', librarians_path %>
  <%= link_to 'Users', users_path %>
  <%= link_to 'Books', books_path %>
  <%= link_to 'Magazines', magazines_path %>
  <%= link_to 'Orders', orders_path %>
  <%= link_to 'Authors', authors_path %>
</div>
<div>
  <div>
    Знайти прізвища та імена бібліотекарів, що оформили замовлення вартістю n
  </div>
  <div>
    <span>Price:</span>
    <input type="number" id="input1">
  </div>
  <button id="btn1">Find</button>

  <div>
    Знайти прізвища авторів, у є книжка заданого жанру
  </div>
  <div>
    <span>Genre:</span>
    <input type="text" id="input2">
  </div>
  <button id="btn2">Find</button>
</div>
