<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <td><h1>Librarians</h1></td>
    <td><%= link_to 'New Librarian', new_librarian_path, class: 'btn btn-info float-right' %></td>
  </tr>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Address</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Passport code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @librarians.each do |librarian| %>
      <tr>
        <td><%= librarian.name %></td>
        <td><%= librarian.surname %></td>
        <td><%= librarian.address %></td>
        <td><%= librarian.phone_number %></td>
        <td><%= librarian.email %></td>
        <td><%= librarian.passport_code %></td>
        <td><%= link_to 'Show', librarian %></td>
        <td><%= link_to 'Edit', edit_librarian_path(librarian) %></td>
        <td><%= link_to 'Destroy', librarian, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
